{% extends "base.html" %}

{% block body %}
<div class="column is-full has-text-centered">
  <div class="columns">
    <div class="column is-4 file-select">
      <h2>Upload LottieFile</h2>

      <form method='POST' enctype='multipart/form-data'>
        <table>
          <td>
            {{ form.hidden_tag() }}
            {{ form.file() }}
          </td>
          <td>
            {{ form.submit(class_="button") }}
          </td>
        </table>
      </form>
    </div>
  </div>

  <div class="columns">
    <div class="column is-3 file-select">
      {% if message %}
      <hr>
      <div>{{ message }}</div>
      {% endif %}

      {% if upload_filename %}
      <div class="card-image">
        <figure class="image is-256x256">
          <lottie-player class="lottiefile" src="{{ url_for('lottiebox_gallery', filename=upload_filename) }}" background="transparent"  speed="1" loop autoplay></lottie-player>
        </figure>
      </div>
      {% endif %}
      
    </div>
  </div>
</div>

{% endblock %}
