      <div class="panel-heading">Sort</div>
      <div class="panel-block">
        <table class="table is-fullwidth">
          <tr>
            <td>
              {% if sort == "basename" and order == "asc" %}
              <span class="tag"><a href="{{ url_for('lottiebox_index') }}?sort=basename&order=desc">Name &#8595;</a></span>
              {% else %}
              <span class="tag"><a href="{{ url_for('lottiebox_index') }}?sort=basename&order=asc">Name &#8593;</a></span>
              {% endif %}
            </td>
            <td>
              {% if sort == "modified" and order == "asc" %}
              <span class="tag"><a href="{{ url_for('lottiebox_index') }}?sort=modified&order=desc">Modified &#8595;</a></span>
              {% else %}
              <span class="tag"><a href="{{ url_for('lottiebox_index') }}?sort=modified&order=asc">Modified &#8593;</a></span>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>